.overlay {
  background: $white;
  height: 100vh;
  padding: $navbar-padding-y $navbar-padding-x;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  &:not(.show) {
    display: none;
  }
}
