.search-form {
  align-items: center;
  display: flex;
  margin-top: 75px;
  position: relative;
  width: 100%;

  label {
    margin-bottom: 0;
    width: 100%;
  }

  &__autocomplete {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
    height: auto;
    left: 0!important;
    margin: 6px 0 0;
    max-width: none!important;
    min-width: 0!important;
    padding: .75rem 0!important;
    position: absolute;
    right: inherit!important;
    text-align: left;
    top: 100%;
    width: 100%;
    z-index: 100;

    &:not(.show) {
      display: none;
    }
  }


}
